<!DOCTYPE html>
<html lang="en">

<head>
    <title>PTT文章分析系統</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        {% include 'navbar.html' %}
        <div class="col-lg-12">
            <h1>分析PTT的關鍵詞</h1>
            <p>可以針對你輸入的個別關鍵詞進行熱門程度分析</p>
        </div>
        <div class="col-lg-6 mb-2"><!-- 輸入條件區塊開始 -->
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">輸入條件</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">關心哪個關鍵詞?</label>
                        <div class="col-md-9">
                            <input id="input_keyword" name="userkey" value="中國"
                                   class="form-control form-control-success">
                            <small class="form-text text-muted">查找關鍵字，可輸入多個，空白隔開。主要以人名，產品，地理區域為主(搜尋斷詞後的詞語，並非全文搜尋)。
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3 form-control-label">條件</label>

                        <div class="col-md-9 radio mb-3">
                            <label class="radio-inline"><input type="radio" value="and" name="condradio"
                                                               checked>and</label>
                            <label class="radio-inline"><input type="radio" value="or" name="condradio">or</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">文章類別</label>
                        <div class="col-md-9">
                            <label class="radio-inline"><input type="radio" value="全部" name="cateradio"
                                                               checked>全部</label>
                            <label class="radio-inline"><input type="radio" value="八卦" name="cateradio">八卦</label>
                            <label class="radio-inline"><input type="radio" value="棒球" name="cateradio">棒球</label>
                            <label class="radio-inline"><input type="radio" value="車子" name="cateradio">車子</label>
                            <label class="radio-inline"><input type="radio" value="手機通訊" name="cateradio">手機通訊</label>
                            <label class="radio-inline"><input type="radio" value="軟工" name="cateradio">軟工</label>
                            <label class="radio-inline"><input type="radio" value="NBA" name="cateradio">NBA</label>
                            <label class="radio-inline"><input type="radio" value="PlayStation" name="cateradio">PlayStation</label>
                            <label class="radio-inline"><input type="radio" value="LoL" name="cateradio">LoL</label>
                            <label class="radio-inline"><input type="radio" value="Steam" name="cateradio">Steam</label>
                            <label class="radio-inline"><input type="radio" value="NSwitch" name="cateradio">NSwitch</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">最近多少周?</label>
                        <div class="col-md-9">
                            <label class="radio-inline"><input type="radio" value="1" name="wkradio">1</label>
                            <label class="radio-inline"><input type="radio" value="2" name="wkradio" checked>2</label>
                            <label class="radio-inline"><input type="radio" value="3" name="wkradio">3</label>
                            <label class="radio-inline"><input type="radio" value="4" name="wkradio">4</label>
                            <label class="radio-inline"><input type="radio" value="6" name="wkradio">6</label>
                            <label class="radio-inline"><input type="radio" value="8" name="wkradio">8</label>
                            <label class="radio-inline"><input type="radio" value="12" name="wkradio">12</label>
                            <small class="form-text text-muted">以最新資料時間為準，往前推多少周?</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 ml-auto">
                            <button type="button" id="btn_ok" class="btn btn-primary">查詢</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- 輸入區塊結束-->

        <!-- 顯示區塊-->
        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">出現頻率以時間呈現</h3>
                </div>
                <div class="card-body">
                    <small>觀察每個時間點的有多少篇報導(聲量大小)</small>
                    <div class="row">
                        <canvas id="keyword_time_line_chart"></canvas>
                    </div>
                </div>
            </div>
        </div><!-- 區塊結束-->

        <!-- 同時出現的關鍵字區塊-->
        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">熱門程度:有幾篇文章報導提到它?</h3>
                </div>
                <div class="card-body">
                    <ul id="keyword_article_count"></ul>
                </div>
            </div>
        </div><!-- 區塊結束-->

        <!--熱門程度區塊-->
        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">熱門程度:提到它的次數?</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <ul id="keyword_frequency"></ul>
                    </ul>
                </div>
            </div>
        </div><!-- 區塊結束-->


    </div>
</div>
</body>

</html>
<!-- java scrip通常寫在網頁最後面，等頁面初始化之後才會執行-->
<!-- jQuery指令用到的js-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<!-- 程式碼區 -->
<script>

    call_ajax();

    //**按鈕事件
    $('#btn_ok').on('click', function () {
        call_ajax();
    }); //event function

    $("input[name='cateradio']").on('change', function () {
        call_ajax();
    }); //event function

    $("input[name='wkradio']").on('change', function () {
        call_ajax();
    }); //event function
    $("input[name='condradio']").on('change', function () {
        call_ajax();
    }); //event function

    function call_ajax() {
        const userkey = $("#input_keyword").val();
        const weeks = $("input[name='wkradio']:checked").val();
        const cate = $("input[name='cateradio']:checked").val();
        const cond = $("input[name='condradio']:checked").val();

        if (userkey.length < 2) {
            alert("輸入關鍵字不可空白或小於兩個中文字!");
            return 0;
        }

        $.ajax({
            type: "POST",
            url: "api_get_top_userkey/",
            data: {
                "userkey": userkey,
                'cate': cate,
                'weeks': weeks,
                'cond': cond,
            }, // pass to server
            success: function (received) {

                const article_count = received['key_occurrence_cat'];
                console.log(article_count);
                $('#keyword_article_count').empty();

                for (var key in article_count) {
                    let paste = "<li>" + key + ":" + article_count[key] + "</li>";
                    $('#keyword_article_count').append(paste);
                }
                const kwfreq = received['key_freq_cat'];
                console.log(kwfreq);
                $('#keyword_frequency').empty();
                for (var key in kwfreq) {
                    let paste = "<li>" + key + ":" + kwfreq[key] + "</li>";
                    $('#keyword_frequency').append(paste);
                }

                const data_key_time_freq = received['key_time_freq'];
                console.log(data_key_time_freq);
                showtimechart(data_key_time_freq);

            } //function
        }); //ajax
    } //call_ajax()

    var ctx_key_time = document.getElementById("keyword_time_line_chart").getContext('2d');
    var chart = null;

    function showtimechart(data_key_time_freq) {
        const myoptions = {
            type: 'line',
            data: {
                datasets:
                    [{
                        label: 's2',
                        borderColor: 'red',
                        data: data_key_time_freq,
                    }]
            },
            options: {
                legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                //day: 'DD-MM-YYYY'
                                day: 'MM/DD'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: "出現次數",
                        }
                    }]
                }
            }
        };
        console.log(chart);
        if (chart)
            chart.destroy();
        chart = new Chart(ctx_key_time, myoptions);
    }

    // test samples
    /*
    var data_key_time_freq = [{"x": "2019-03-07", "y": 2},
     {"x": "2019-03-08", "y": 2},
     {"x": "2019-03-09", "y": 13}]
    */

</script>
